Импортируем библиотеки и считываем данные, разделив их на объекты и ответы

In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

data = pd.read_csv('output/processed_data.csv', sep=';', index_col=0)

In [2]:
data.head()

,vendor_id,passenger_count,store_and_fwd_flag,distance_km,log_trip_duration,anomaly,traffic_jam,day_of_week_0,day_of_week_1,day_of_week_2,...,hour_20,hour_21,hour_22,hour_23,month_1,month_2,month_3,month_4,month_5,month_6
id,,,,,,,,,,,,,,,,,,,,,
id2875421,1,930.399753,0,1.500479,6.122493,0,0,True,False,False,...,False,False,False,False,False,False,True,False,False,False
id2377394,0,930.399753,0,1.807119,6.498282,0,0,False,False,False,...,False,False,False,False,False,False,False,False,False,True
id3858529,1,930.399753,0,6.392080,7.661527,0,1,False,True,False,...,False,False,False,False,True,False,False,False,False,False
id3504673,1,930.399753,0,1.487155,6.063785,0,0,False,False,True,...,False,False,False,False,False,False,False,True,False,False
id2181028,1,930.399753,0,1.189925,6.077642,0,0,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [3]:
# Разделим данные на Train и Test
from sklearn.model_selection import train_test_split

X = data.drop('log_trip_duration', axis=1)
y = data['log_trip_duration']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)

In [4]:
# Установим метод кросс-валидации
from sklearn.model_selection import KFold, cross_validate

splitter = KFold(n_splits=20, shuffle=True, random_state=33)

In [5]:
# Проведем кросс-валидацию
model = LinearRegression()

cv_result = cross_validate(model, X_train, y_train,
                           scoring='neg_mean_squared_error',
                           cv=splitter, return_train_score=True)

In [6]:
# Получим средннюю ошибку
np.mean(-cv_result['test_score'])

0.41383110991684136

Теперь построим модель на всей тренировочной выборке и замерим качество на тесте

In [7]:
model = LinearRegression()

model.fit(X_train, y_train)

np.mean((y_test - model.predict(X_test)) ** 2)

0.38923451942806936