Импортируем библиотеки и считываем данные, разделив их на объекты и ответы

In [19]:
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

X = pd.read_csv('output/processed_data.csv', sep=';', index_col=0).drop('таргет', axis=1)
Y = pd.read_csv('output/processed_data.csv', sep=';')['таргет'].to_frame()

In [20]:
X.head()

,Категория,Цель в долларах,Срок,Год публикации,Close_brent,CAD,CHF,DKK,EUR,GBP,...,Design,Fashion,Film & Video,Food,Journalism,Music,Photography,Publishing,Technology,Theater
176128,6035.989239,1000.0,39,2009,34.41,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
241929,3591.033473,80000.0,87,2009,34.41,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
244460,3661.424550,20.0,8,2009,34.41,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
80845,4321.245721,99.0,79,2009,34.41,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
181197,6035.989239,1900.0,28,2009,34.41,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

Создадим и обучим модель с помощью библиотеки **sklearn**

In [8]:
model = LinearRegression()
model.fit(X, Y)

print('MSE равен: ', int(np.mean((Y-model.predict(X))**2)))
print('RMSE равен: ', int(np.mean((Y-model.predict(X))**2)**(1/2)))

MSE равен:  9201827200
RMSE равен:  95926

Замерим качество на Кросс-Валидации

In [9]:
from sklearn.model_selection import KFold

kf = KFold(n_splits=10, shuffle=True, random_state=33)
kf.split(X)

In [10]:
losses_train = []
losses_test = []

for train_index, test_index in kf.split(X):
    X_train, X_test = X.values[train_index], X.values[test_index]
    Y_train, Y_test = Y.values[train_index], Y.values[test_index]

    model = LinearRegression()
    model.fit(X_train, Y_train)

    losses_test.append(np.mean((model.predict(X_test) - Y_test) ** 2) ** (1/2))
    losses_train.append(np.mean((model.predict(X_train) - Y_train) ** 2) ** (1/2))

In [11]:
np.mean(losses_test), np.mean(losses_train)

(90258.41978034323, 95839.09848135276)